/* src/styles/App.css */

html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000; /* Ensures background fills the entire viewport */
}


* {
  cursor: default; /* Set default cursor globally */
}

/* Then override only for clickable elements */
.spotify-button {
  cursor: pointer;
}
/* src/styles/App.css */

* {
  user-select: none; /* Prevent text selection globally */
}
