/* src/styles/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  background-color: #1a1a1a; /* A subtle gray color to differentiate from black */
}

.logo {
  cursor: default; /* Set cursor to default for the logo text */
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  user-select: none;
}

/* src/styles/Navbar.css */

.spotify-button {
  background: linear-gradient(90deg, #3F51B5, #673AB7);
  color: #fff;
  border: none;
  padding: 0.9rem 1.8rem; /* Adjust padding for rectangle shape */
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px; /* Smaller border-radius for rounded rectangle */
  transition: background 0.3s;
}

.spotify-button:hover {
  background: linear-gradient(90deg, #673AB7, #3F51B5);
}
